
#contentError404{
/*	margin: 0 auto;*/
	width: 100%;
        font-family: "Trebuchet MS";
	background: #8BC5D6;
	color: #1f3759;
        margin-bottom: 0px;
}

#contentError404 a:link{
	color: #1f3759;
	text-decoration: none;
}
#contentError404 a:active{
	color: #1f3759;
	text-decoration: none;
}
#contentError404 a:hover{
	color: #9fb7d9;
	text-decoration: none;
}
#contentError404 a:visited{
	color: #1f3759;
	text-decoration: none;
}

#contentError404 a.underline, .underline{
	text-decoration: underline;
}

#contentError404 .bree-font{
	font-family: 'Open Sans',sans-serif;
        font-weight: bold; 
}

#contentError404 .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
contentError404 .clearfix {
	display: block;
}

#main-bodyError404{
        margin-top: 100px;
	text-align: center;
}

#main-bodyError404 .enormous-font{
	font-size: 10em;
	margin-bottom: 0em;
}
#main-bodyError404 .big-font{
	font-size: 2em;
}
#main-bodyError404 hr{
	width: 25%;
	height: 1px;
	background: #1f3759;
	border: 0px;
}

