
//CASINO   SPORTS 
.font-casino-sport{
    font-family: $mainFont;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    color: #282b2d;
}
//Test Area for Seo Play Casino Online on the most reliable site 
.font-seo-casino{
    font-family: $mainFont;
    font-size: 18px;
    color: #fff;
}

//Test Area for Seo
.font-seo{
    font-weight: bold;
}

.username-Password
{
    font-family: $mainFont;
    font-size: 21px;
    color: #fff;
}
//Featured My Favorite Video Slots Classic Slots 3D Slots Live Ca
.font-navbar-search{
    font-family: $mainFont;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}
//About Us                Terms & Conditions                Gener
.font-footer{
    font-family: $mainFont;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}
.font-menu-left{
    font-family: $mainFont;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}
.font-games
{
    font-family: $mainFont;
    font-size: 24px;
    text-transform: uppercase;
    color: #282b2d;
}
