<div  ng-if="connection.stateConnection">
    <div data-casino-sub-menu-header class="casino-sub-menu-header"></div>
    <div class="container"  id="blogContent">
        <div class="blogmain col-lg-12 col-sm-12 col-md-12 col-xs-12"> 
            <div class="blog-page-container">
                <div data-content-news></div>
                <div data-right-menu-news class="col-md-4 col-sm-4 col-lg-4 col-xs-12" id="blog-right"></div>
            </div>
        </div>
    </div>
    <div data-help-panel class="helpList"></div> 
    <div data-countries class="countriesList"></div>
    <div data-clock-panel class="clockContent"></div>
    <div data-footer-cyberplay ></div>
</div>
